[Unit]
Description=PeroniBot is a simple ping-pong program that broadcasts /root open/close status to a Telegram group
Documentation=https://github.com/rootclub/peronibot
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/peronibot-client.env
ExecStart=/usr/bin/peronibot-client
Type=simple
TimeoutSec=10min

[Install]
WantedBy=multi-user.target